/** @format */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header {
	padding: 1rem;
	text-align: center;
	background-color: #008afc;
	color: white;
	width: 100%;
}

section {
	padding-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container {
	box-shadow: 0 0 10px 0 #a5a5a5;
	margin: 10px 0;
	width: 1024px;
	border-radius: 5px;
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid;
}

.form {
	margin: 10px;
}

.column {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.group {
	display: flex;
	width: 100%;
	gap: 10px;
	align-items: center;
	justify-content: center;
}

.title {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	text-transform: capitalize;
}

.title-list {
	text-align: start;
	font-size: 1.5rem;
	margin: 10px 10px 0;
}

.list-item {
	min-height: 50px;
}

.label-form {
	width: 100%;
	margin: 10px 0 5px;
	text-transform: capitalize;
}

.btn-submit {
	margin-top: 10px;
	width: 100%;
	background-color: #008afc;
	border: none;
	padding: 10px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-transform: capitalize;
}

.btn-submit:hover {
	filter: opacity(0.9);
}

.item {
	border-radius: 16px;
	margin: 16px;
	padding: 12px 24px 12px 24px;
	background: #fbfbfb;
	display: flex;
	align-items: center;
	box-shadow: 0 0 10px 0;
}

.check-btn {
	width: 30px;
	height: 30px;
	background: url(/asset/checked.png) no-repeat;
	background-size: contain;
	cursor: pointer;
	border: none;
	margin-left: auto;
}

.cancel-btn {
	width: 30px;
	height: 30px;
	background: url(/asset/cancel.png) no-repeat;
	background-size: contain;
	cursor: pointer;
	border: none;
	margin-left: 16px;
}

.undo-btn {
	margin-left: auto;
	width: 30px;
	height: 30px;
	background: url(/asset/undo.png) no-repeat;
	cursor: pointer;
	background-size: contain;
	border: none;
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 500px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 300px;
	}
}
